@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --primaryTextColor: #ffffff;
  --secondaryTextColor: #000000;
  --thirdTextColor: #12e1c3;
  --fourTextColor: #a70a0a;

  --borderColor: #6b6b6b;
  --lineColor: #818181;

  --itemAbu: #b8b8b8;

  --primaryBackgroundColor: #f3fdff;
  --secondaryBackgroundColor: #ffffff;
  --thirdBackgroundColor: #0eb29a;

  --primaryBtnColor: #0a8561;
  --secondaryBtnColor: #0eb29a;
  --thirdBtnColor: #f3fdff;

  --primaryIconColor: #ffffff;
  --secondaryIconColor: #000000;
  --primaryIconColorHover: #9b9b9b;

  --itemBorderRadius: 0.7rem;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--primaryBackgroundColor);
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 90;
  }
}




/* Style Gambar Atas */
.tittle_detail {
    text-align: center;
    margin: 40px;
    margin-top: 120px;
}


.slider {
    height: 390px;
    max-width: 1200px;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: var(--itemBorderRadius);
}

.slides {
    display: flex;
    animation: slide-animation 20s infinite;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: 390px;
    object-fit: cover;
}

@keyframes slide-animation {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
/* End of Gambar Atas */



/* Layout Bagian Kiri-Kanan */
.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    margin-top: 20px;
}



.desk_wis {
    margin-top: 20px;
    margin-bottom: 30px;
}



/* Style Deskripsi */
.box-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd;
    margin-bottom: 20px;
    margin-right: 20px;
}

.box i {
    padding: 10px;
}

.deskripsi p {
    text-indent: 40px;
    text-align: justify;
}

.deskripsi ol {
    text-indent: 10px;
}

.rating_ulasan {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.rating {
    background: var(--secondaryBackgroundColor);
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.rating h3 {
    text-align: center;
}

.konten-star{
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.konten-star i {
    font-size: 16px;
}

i.icon-star-color{
    color: rgb(255, 123, 0);
}

i.icon-star-color_a{
    color: rgb(194, 194, 194);
}


.text_ulasan {
    margin-left: -1rem;
}

.text_ulasan p {
    margin-top: -0.2rem;
    font-size: 14px;
}

.text_ulasan input {
    margin-top: -1px;
    margin-bottom: 10px;
    width: 400px;
}
/* End of Deskripsi */



/* Style Wisata Serupa */
.wisata_serupa {
    background: var(--secondaryBackgroundColor);
    display: flex;
    gap: 3rem;
    margin-top: 1.2rem;
    align-items: center;
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd;
}

.img_wisata img {
    height: 8rem;
    width: auto;
    object-fit: cover;
}

.text_wisata {
    margin-top: 1rem;
    margin-left: -2rem;
}

.text_wisata p {
    margin-top: 2rem;
    font-size: 16px;
}

.text_wisata a p {
  color: rgb(107, 107, 107);
  text-decoration: none;
}
/* End of Wisata Serupa */



/* Style button */
.custom-button {
    padding: 10px 20px;
    background-color: var(--secondaryBtnColor);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
}

.custom-button:hover {
    background-color: var(--primaryBtnColor);
}

.custom-button:active {
    background-color: var(--secondaryBtnColor);
}

.btn-pesan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.button_gabung {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/* End of Style Button */