@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --primaryTextColor: #ffffff;
    --secondaryTextColor: #000000;
    --thirdTextColor: #12e1c3;
    --fourTextColor: #a70a0a;
  
    --borderColor: #6b6b6b;
    --lineColor: #818181;
  
    --itemAbu: #b8b8b8;
  
    --primaryBackgroundColor: #f3fdff;
    --secondaryBackgroundColor: #ffffff;
    --thirdBackgroundColor: #0eb29a;
  
    --primaryBtnColor: #12e1c3;
    --secondaryBtnColor: #0eb29a;
    --thirdBtnColor: #f3fdff;
  
    --primaryIconColor: #ffffff;
    --secondaryIconColor: #000000;
    --primaryIconColorHover: #9b9b9b;
  
    --itemBorderRadius: 0.7rem;
  }

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--primaryBackgroundColor);
    background-image: url(asset/bg-sandi.jpg);
}

a {
    text-decoration: none;
}

.wrap {
    width: 1200px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row; /* Mengatur tata letak ke horizontal (baris) */
    justify-content: space-around; /* Memisahkan elemen dengan jarak di antara mereka */
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 90;
    }
}

#konten img{
    width: 85%;
    height: auto;
    border-radius: var(--itemBorderRadius);
    object-fit: cover;
}

.teks {
    max-width: 85%;
}

.judul {
    margin-top: 24px;
    margin-bottom: 0px;
}

.judul h1{
    color: #B20326;
    font-size: 32px;
}


.isi p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
}
.isi2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 0px;
}

.isi2 p {
    margin-top: 1px;
    font-size: 16px;
}

.teks-luar-biasa {
    color: #B20326;
    margin-left: 3px;
}

#halaman-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tinggi elemen sesuai dengan tinggi viewport */
}

#form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c4f7f0;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

#form-login h1{
    color: #0eb29a;
    font-weight: 500;
}

#form-login input{
    margin-bottom: 12px;
    font-size: 16px;
}


#form-input input{
   
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid black;
}

#kotak-centang {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    margin-top: 6px;
    margin-bottom: 6px;
}

#kotak-centang a{
    color:#B20326;
    margin-left: 120px;
}

#kotak-centang a:hover {
    color:#a10222a6;
    height: 26px;
    padding: 0;
}

#tbl-masuk {
    background-color: var(--secondaryBtnColor); /* Warna latar belakang tombol */
    border-color: var(--secondaryBtnColor); /* Warna border tombol */
    color: white; /* Warna teks */
    width: 100%;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#tbl-masuk:hover {
    background-color: var(--primaryBtnColor); /* Warna latar belakang saat tombol dihover */
    border-color: var(--primaryBtnColor); /* Warna border saat tombol dihover */
}

.pemisah {
    display: flex;
    align-items: center;
    margin-top: 1rem; 
    margin-bottom: 1rem; 
}

.pemisah .garis {
    flex: 1;
    border: 1px solid black; /* Garis dengan border */
  }

.pemisah p {
    text-align: center;
    margin: 0 0.5rem; /* Margin kiri dan kanan untuk teks "Atau" */
    color: black;
}

#tbl-masuk-google {
    background-image: url('asset/flat-color-icons_google.png'); /* Ganti 'path/to/your/logo-google.png' dengan lokasi gambar logo Google */
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 20px center; /* Mengatur posisi gambar di kiri tengah */
    background-color: #ffffff; /* Warna latar belakang tombol */
    color: var(--secondaryBtnColor); /* Warna teks */
    border: 2px solid var(--secondaryBtnColor); /* Outline tombol */
    width: 100%;
    margin-bottom: 12px;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Opsional: Untuk mengatur style lain sesuai dengan kebutuhan */
#tbl-masuk-google .google-text {
    margin-left: 10px; /* Mengatur jarak antara gambar dan teks */
  }

#tbl-masuk-google:hover {
    background-color: var(--primaryBtnColor); /* Warna latar belakang saat tombol dihover */
    color: #ffffff; /* Warna teks saat tombol dihover */
    height: fit-content;
}

#belum-punya-akun {
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

#belum-punya-akun a{
    color:#B20326;
    margin-left: 5px;
    height: 20px;
    padding: 0;
}


#belum-punya-akun a:hover {
    color:#a10222a6;
}
