@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --primaryTextColor: #ffffff;
  --secondaryTextColor: #000000;
  --thirdTextColor: #12e1c3;

  --borderColor: #6b6b6b;
  --lineColor: #818181;

  --primaryBackgroundColor: #f3fdff;
  --secondaryBackgroundColor: #ffffff;
  --thirdBackgroundColor: #0eb29a;

  --primaryIconColor: #000000;
  --primaryIconColorHover: #ffffff;

  --itemBorderRadius: 0.7rem;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--primaryBackgroundColor);
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 90;
  }
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}



.wrap-konten {
  width: 1200px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column; /* Mengatur tata letak ke horizontal (baris) */
  justify-content: space-around; /* Memisahkan elemen dengan jarak di antara mereka */
  align-items: center;
}

#konten-atas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

#konten-atas h2 {
  margin-top: 90px;
  margin-bottom: 40px;
  color: #000000;
  font-weight: bold;
}

.img-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.img-detail img {
  width: 70%;
  height: auto;
  margin-right: 100px;
}

.detail-wisata {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail-wisata-judul {
    margin-bottom: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.detail-wisata-judul h5 {
  font-weight: bold;
}

.detail-wisata-isi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ulasan img,
.detail-jadwal img,
.terjual img {
  width: 22px;
  height: 22px;
  margin-right: 12px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.ulasan {
  display: flex;
  flex-direction: row;
}

.ulasan p {
  margin-right: 6px;
}

.ulasan a {
  color: blue; /* Ganti dengan warna yang Anda inginkan */
}

/* Ganti warna tautan saat di-hover */
.ulasan a:hover {
  color: red; /* Ganti dengan warna yang Anda inginkan saat hover */
}
.terjual {
  display: flex;
  flex-direction: row;
}
.detail-jadwal {
  display: flex;
  flex-direction: row;
}

.detail-jadwal p {
  margin-right: 6px;
  margin-bottom: 12px;
}

.detail-fasilitas-judul {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

.detail-fasilitas-judul h5 {
  font-weight: bold;
}

.detail-jadwal p:nth-child(3)::before,
.detail-jadwal p:nth-child(4)::before {
  content: "\2022"; /* Karakter titik tebal */
  margin-right: 16px; /* Jarak antara titik tebal dan teks */
  margin-left: 16px;
  font-weight: bold; /* Atur bobot font menjadi tebal */
  font-size: 1.2em; /* Atur ukuran font sesuai keinginan */
  line-height: 1;
  align-items: center;
}

.list-fasilitas {
  display: flex;
  justify-content: flex-start;
}

.list-fasilitas ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
}

.list-fasilitas ul li {
  width: 48%; /* Lebar 48% untuk memuat dua item dalam satu baris */
  margin-bottom: 6px; /* Jarak antar item */
  list-style: none; /* Menghilangkan bullet point */
}

.list-fasilitas ul li::before {
  content: "\2022"; /* Menambahkan titik sebagai penanda */
  margin-right: 10px; /* Jarak antara titik dan teks */
}



#konten-bawah {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.title_pilih {
  margin-bottom: 40px;
  margin-top: 50px;
  color: #000000;
  font-weight: bold;
}

.card-pilihan-tiket {
  background-color: #c4f7f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px;
  padding-top: 12px;
  border-radius: 9px;
}

.container-scroll {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Tambahkan overflow-y: auto untuk mendukung scroll vertikal */
  max-height: 650px;
  width: 100%;
  padding-right: 24px;
}

.container-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Warna latar belakang track scrollbar */
}

.container-scroll::-webkit-scrollbar-thumb {
  background-color: #9f9f9f; /* Warna thumb scrollbar */
  border-radius: 10px; /* Sudut melengkung pada thumb scrollbar */
}

.container-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #3d3d3d; /* Warna thumb scrollbar saat hover */
}

.container-scroll::-webkit-scrollbar-button {
  color: #9f9f9f; /* Warna thumb scrollbar */
}

.card-tiket {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.detail-tiket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.judul-harga-tiket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.harga-tiket {
  color: #b20326;
}

.judul-harga-tiket h3 {
  font-weight: bold;
}

.list-detail-tiket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.list-detail-tiket li {
  margin-bottom: 6px;
}

.tbl-pesan-tiket {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  width: 120px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  background-color: #0eb29a;
  border: #0eb29a;
}

.tbl-pesan-tiket:hover {
  background-color: #0a8561; /* Warna latar belakang saat tombol dihover */
  border-color: #0a8561; /* Warna border saat tombol dihover */
}
